@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid red; */
}

input[type='search']{
    letter-spacing: .1rem;
}

.nav-item .nav-link {
    font-size: .9rem;
    font-weight: 600;
    color: black;
    letter-spacing: .1rem;
}

.main-nav ul li a{
    font-size: 1.2rem;
    font-weight: bold;
}

.topic{
    background-color: rgba(185, 194, 217, 0.30);
}

.topic .text-span{
    font-size: .8rem;
    font-weight: bold;
}

.bg-img{
    background-image: url("../images/image\ 7\ \(1\).png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_text{
    background-color: rgba(120, 120, 120, 0.95);
    width: 20vmax;
    height: 100%;
    color: #D9C9B9;

}

.bg_text div h1{
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

.bg_text div h2{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
}

.bg_text div h3{
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;

}

.simple_btn{
    background-color: #B9C2D9;
}
.new_font{
        font-family: 'Bebas Neue', sans-serif;
}
.card-carousel button{
    background-color: #B9C2D9;
}

.card-title{
    color: #7D7D7D;
}

.card-body, .card-subtitle{
    color: #202020;
    font-weight: bold;
}

.card-carousel{
    background-color: #F3F3F3;
}

.description_section{
    background-color: #D9C9B9;
}
.new_section{
    background-color: rgba(185, 194, 217, 0.30);
}

.chess .card {
    background-color: #EAEAEA;
}

.top-footer{
    background-color: rgba(185, 194, 217, 0.30);
}

.center-footer{
    background-color: #D9C9B9;
}

.last_btn{
    background-color: #B9C2D9;
}

.footer input[type="text"], .footer input[type="email"]{
    background-color: rgba(32, 32, 32, 0.50);
}

.owl-nav{
    position: absolute;
    bottom: -4rem;
    left: 0;
}
.owl-nav .owl-prev{
    opacity: .5;
}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover{
    background: none !important;
    outline: none !important;
    opacity: 1 !important;
}


@media screen and (max-width:1400px){
    
    .bg_text{
        width: 35%;
    }
}

@media screen and (max-width:992px){

    .bg_text{
        width: 50%;
    }
}

@media screen and (max-width:576px){

    .bg_text{
        width: 70%;
    }
}